.inputButton {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--gray500);

  &:hover {
    border-color: var(--primary_hover);
  }

  &[aria-expanded='true'] {
    border-color: var(--primary_hover);
  }

  .button {
    display: block;
    flex: 1;
    text-align: left;
    font-size: 16px;
    white-space: nowrap;
  }

  svg {
    flex-shrink: 0;
  }
}

.active {
  border-color: var(--primary_hover);
}
